<select (change)="onChange($event.target.value)">
  <option value="all">Show All</option>
  <option value="isDone">Show Done</option>
  <option value="notDone" selected="selected">Show Not Done</option>
</select>

<task-display *ngFor="#currentTask of taskList | completeness:selectedCompleteness"
  (click)="taskClicked(currentTask)"
  [class.selected]="currentTask === selectedTask"
  [task]="currentTask">
</task-display>
<edit-task-details *ngIf="selectedTask" [task]="selectedTask"></edit-task-details>
<br>
<new-task (onSubmitNewTask)="createTask($event)"></new-task>
