<div class="meal-form">
  <h3>Create Meal:</h3>
  <div class="form-group">
    <input placeholder="Meal Name" class="input-lg" #newMealName>
  </div>
  <div class="form-group">
    <input placeholder="Details" class="input-lg" #newDetails>
  </div>
  <div class="form-group">
    <input placeholder="Calories" class="input-lg" #newCalories>
  </div>
  <div class="form-group">
    <button (click)="addMeal(newMealName, newDetails , newCalories)" class="btn-lg btn-success">Add</button>
  </div>
</div>
