@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  h1, h3, h2 {
    display: flex;
    justify-content: center;
    color: #a6a6a6;
  }

  .filter {
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    color: #a6a6a6;
  }

  .meal-form {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .add-button {
    background-color: rgba(230,204,225,0.5);
    color: #333333;
  }

  .meals {
    color: #e6ccff;
    margin-top: 30px;
    padding: 2px 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(230,204,225,0.2);
    transition: 0.3s;
  }

  .meals:hover {
    box-shadow: 0 8px 16px 0 rgba(230,204,225,0.2);
  }

  input {
    width: 100%;
    background-color: rgba(230,204,225,0.2);
    color: #e6ccff;
  }

}
